	</main>
	<footer class="footer">
		<div class="container">
			<a href="/" class="logo">@@include("../assets/svg/logo.html")</a>
			<form action="/" class="form--search-line">
				<input type="search" placeholder="Введите название " />
				<button>@@include("../assets/svg/icon/search.html") Подобрать аналог</button>
			</form>
			<div class="info">
				<a href="tel:88004442467" class="before-phone header--icon-element">
					8 (800) 444-24-67
					<small>Звонок по РФ бесплатный</small>
				</a>
				<p class="chips">©2023. ООО “ПК-Партнёр Групп” <br><a href="#">Политика обработки персональных данных</a></p>
			</div>
		</div>
	</footer>
	<script src="@js/app.min.js"></script>
</body>
</html>